body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
}
#main-content{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 40px;
  border: 1px solid rgba(211, 211, 211, 0.082);
  border-radius: 10px;
  background-color: #212121;
  backdrop-filter: blur(20px);
  transition: 300ms ease;
  scale: 0.95;
}

#main-content:hover{
  scale: 1;
  transition: 300ms ease;
  cursor: pointer;
}

div#main-content{
  padding: 20px 100px;
  margin: 0 10px;
}