*{
    /* outline: 1px red solid; */
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html{
  margin: 0;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
}
#main-content{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  gap: 40px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  backdrop-filter: blur(20px);
}

div#main-content{
  padding: 10px 100px;
  margin: 0 10px;
}
.border-style{
  /* box-shadow: 0px 0px 10px 1px; */
  /* border: 2px solid blue; */
}

#main-navbar{
  display: flex;
  flex-direction: row;
  gap: 50px;
}