*{
    /* outline: 1px red solid; */
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
  text-decoration: none;
}

body, html{
  background-color: #161616;
  color: white;
  margin: 0;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.card-style{
  padding: 15px;
  border-radius: 10px;
  width: 500px;
  margin: 10px 0;
  background-color: #212121;
  /* box-shadow: 0 0 5px 0.5px; */
  border: 0.5px solid rgba(211, 211, 211, 0.082);
}